= form_for @event do |f|
  -if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :start_date
    = f.date_select :start_date
  .field
    = f.label :end_date
    = f.date_select :end_date
  .field
    = f.label :signup_open
    = f.check_box :signup_open
  .actions
    = f.submit 'Save'
