%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Description:
  = @event.description
%p
  %b Start date:
  = @event.start_date
%p
  %b End date:
  = @event.end_date
%p
  %b Signup open:
  = @event.signup_open

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
