<% content_for :assets do %>
  <%= stylesheet_link_tag    "schedule/application", :media => "all" %>
  <%= javascript_include_tag "schedule/application" %>
<% end %>

<% content_for :section_menu do %>
  <li><%= link_to 'Events', events_path %></li>
  <li><%= link_to 'Shifts', shifts_path %></li>
  <li><%= link_to 'Slots', slots_path %></li>
  <li><%= link_to 'People', people_path %></li>
  <li><%= link_to 'Positions', positions_path %></li>
<% end %>

<%= render "layouts/main_app" %>
